* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans, sans-serif;
}

li {
  list-style: none;
}

.container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0b4211;
  color: white;
}

.logo {
  float: left;
  padding: 30px 25px;
}

.menu-atas {
  float: right;
  font-size: 15px;
}

.menu-atas a{
  float:right;
  color:white;
}

.menu-atas a:hover{
  color:red;
  border-bottom: 2px;
}

.menu-atas li {
  float: right;
  padding: 30px 15px;
}

.menu {
  height: 500px;
  background-color: green;
}

.isi {
  height: 400px;
  background-color: red;
}

.isi-bwah {
  height: 350px;
  background-color: orange;
}

.akhir {
  height: 150px;
  background-color: black;
}
