* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans, sans-serif;
}

li {
  list-style: none;
}

.container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #064604;
  color: white;
}

.logo {
  float: left;
  padding: 30px 25px;
}
.logo h3{
  letter-spacing:2px;
}
.menu-atas {
  float: right;
  font-size: 15px;
}

.menu-atas a{
  float:right;
  color:white;
}

.menu-atas a:hover{
  color:red;
  border-bottom: 2px;
}

.menu-atas li {
  float: right;
  padding: 30px 15px;
}

.menu {
  height: 500px;
  background-image: url(https://ak.picdn.net/shutterstock/videos/1028205782/thumb/9.jpg);
}

.welcome{
  padding-top: 200px;
  font-family: cursive;
}

.wel{
   background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.wel:hover{
  /*border-radius: 5px;*/
  background-color: #67d46b;
}

.isi {
  height: 400px;
  background-color: #ff0;
}

.isi-bwah {
  height: 350px;
  background-color: #fff;
}

.akhir {
  height: 150px;
  background-color: black;
}
