* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans, sans-serif;
}

li {
  list-style: none;
}

.container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #064604;
  color: white;
}

.logo {
  float: left;
  padding: 30px 25px;
}
.logo h3{
  letter-spacing:2px;
}
.menu-atas {
  float: right;
  font-size: 15px;
}

.menu-atas a{
  float:right;
  color:white;
}

.menu-atas a:hover{
  color:red;
  border-bottom: 2px;
}

.menu-atas li {
  float: right;
  padding: 30px 15px;
}

.menu {
  height: 500px;
  background-image: url(https://ak.picdn.net/shutterstock/videos/1028205782/thumb/9.jpg);
}

.welcome{
  padding-top: 200px;
  font-family: cursive;
}

.wel{
   background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.wel:hover{
  /*border-radius: 5px;*/
  background-color: #67d46b;
}

.isi {
  height: 400px;
  background-color: #f7f7f7
}
/*---*/
.heading {
  padding-top: 40px;
  padding-bottom: 50px;
  color: #5f5d60;
  text-align: center;
}

.heading h2 {
  font-weight: normal;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper{
  border-bottom:1px solid #eee;
  padding-bottom:80px;
  text-align:center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor:pointer;
  box-shadow:0 7px #1a7940;
}
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}
.btn:hover {
  opacity: 1;
}

.isi-bwah {
  height: 350px;
  background-color: #fff;
}

.akhir {
  height: 100px;
  background-color: #5758BB;
  color: #222f3e;
}

.akhir-logo {
  animation: alertPulse 2.5s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.8;
  background: #ff7979;
  float: left;
  padding: 30px 30px;
  font-size: 30px;
}

.banner {
  font-family: system-ui;
  margin: 1rem;
  border-radius: 100px;
  font-size: 2.2rem;
  color: white;
  text-align: center;
  padding: 1rem 3rem;
}

.akhir-menu {
  float: right;
  line-height: 25px;
  padding: 10px 0;
  margin: 15px 20px;
}

.akhir-logo a {
  text-decoration: none;
  color: white;
}

.akhir-menu a {
    text-decoration: none;
    color: #8395a7;
}

.akhir-menu a:hover{
  text-decoration: underline;
  color: #f9ca24;
}
